/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Quicksand", sans-serif;
  color: #414040;
  height: auto;
  /* background-color: black; */
  /* background-image: url("../img/ckd4a2lp.jpg"); */
}

a {
  color: #272727;
}

a:hover {
  color: black;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #9f98f5;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #206bfb;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;

  padding: 10px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .navbar {
  background-color: white;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: black;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #fff;
  color: black;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 1px solid black;
}

.get-started-btn:hover {
  background: black;
  color: white;
  border-color: #5f687b;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# front Section
--------------------------------------------------------------*/
@media (min-width:1066px) {
  .front .flexitem {

    /* border: 1px #206bfb solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center right;

  }

  .front .background {
    display: flex;

  }
}

@media (min-width:834px) {
  .front .flexitem {

    /* border: 1px #206bfb solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center right;

  }

  .front .background {
    display: flex;
    height: 50vh;
  }
}

@media (max-width:833px) {
  .front .flexitem {

    /* border: 1px #206bfb solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

  }

  .front .background {

    height: auto;
    padding-bottom: 5%;
  }

  .front .box1 {
    background-image: url("../img/forest.jpg");
    background-size: cover;
    text-shadow: 2px 2px 5px white;
    color: black;
  }
}



.front {

  /* filter: drop-shadow(-5px 3px 1px rgba(50, 50, 0, 0.5)); */
}


.front .background {
  min-height: 40vh;

  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  /* border: 1px #206bfb solid; */
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); */

}


.front .content {
  padding: 10%;
  width: 70%;
  /* border: 1px #206bfb solid; */
}

.front .box1 {
  flex: 1;
  background-color: white;
  /* z-index: 2; */
  /* border: 1px #206bfb solid; */
}


.front .box2 {
  flex: 1;
  background-image: url("../img/forest.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}




/*--------------------------------------------------------------
# service
--------------------------------------------------------------*/
/* bigger than 1066 */


@media (min-width:834px) {
  .service {
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);
    padding-bottom: 5%;
  }
}

@media (min-width:1066px) {
  .service {
    height: auto;
    padding-bottom: 5%;
    clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%);
  }
}

@media (max-width:833px) {
  .service {
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);
    padding-bottom: 5%;
  }

}

.shadow {
  filter: drop-shadow(-1px 0px 5px rgba(50, 50, 0, 0.5));
}

.service {
  position: relative;
  bottom: 60px;

  min-height: 70vh;
  background-color: white;
}


.service .flexparent {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.service .flexitem {
  flex: 0 1 300px;
  height: 400px;
  /*  No stretching: */
  margin: 20px;
  background-color: #49654E;
  border: 1px #ccc solid;
}

.service .box1 .img1 {
  margin-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../img/service1.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .text-img {
  color: white;
}

.service .box2 .img2 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../img/service2.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box3 .img3 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../img/service3.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box4 .img4 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../img/service4.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box5 .img5 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../img/service5.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box6 .img6 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../img/service6.jpg");
  background-size: cover;
  background-position: 40%;
}


/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about {
  position: relative;
  bottom: 90px;
}

.about .btn {
  background-color: #3D4E4A;
  color: white;

}

.about article {
  background-color: white;
  /* min-height: 20vh; */
  height: auto;
  padding: 5%;
}




.about .iconify {
  font-size: 35px;
  margin: 10px;
}

/*--------------------------------------------------------------
# contact
--------------------------------------------------------------*/

@media (min-width:834px) {
  .contact {
    z-index: 80;
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);
    padding-bottom: 5%;
  }
}

@media (min-width:1066px) {
  .contact {
    z-index: 80;
    height: auto;
    padding-bottom: 5%;
    clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%);
  }
}

@media (max-width:833px) {
  .contact {
    z-index: 80;
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);
    padding-bottom: 5%;
  }

}

.shadow {
  filter: drop-shadow(-1px 0px 5px rgba(50, 50, 0, 0.5));

}

.contact {
  position: relative;
  bottom: 60px;

  min-height: 70vh;
  background-color: white;
}

.contact .flexparent {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.contact .flexitem {
  padding: 5px;
  /* border: 1px #ccc solid; */
  margin: 20px;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  position: relative;
  bottom: 90px;
  height: 10vh;

}

.footer .flexparent {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 30px
}