/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #414040;
  height: auto;
  /* background-color: black; */
  /* background-image: url("../img/ckd4a2lp.jpg"); */
}

a {
  color: #272727;
}

a:hover {
  color: black;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #9f98f5;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #206bfb;
  color: #fff;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 100%;
}

#header {
  transition: all 0.5s;
  /* margin-top: 0; */
  /* padding: 0 !important; */
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .navbar {
  background-color: white;
  height: auto;
  padding: 10px;
  position: relative;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: black;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# front Section
--------------------------------------------------------------*/
@media (min-width:1066px) {
  .front {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* filter: drop-shadow(-5px 3px 1px rgba(50, 50, 0, 0.5)); */
  }

  .front .flexitem {

    /* border: 1px #206bfb solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 2%;
  }

  .front .background {
    display: flex;
    height: auto;
    flex-wrap: wrap;
  }

  .front .content {
    /* width: 80%; */
  }

}

@media (min-width:834px) {
  .front {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* filter: drop-shadow(-5px 3px 1px rgba(50, 50, 0, 0.5)); */
  }

  .front .flexitem {
    flex: 0 1 50%;
    /* border: 1px #206bfb solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 2%;
  }

  .front .content {
    width: 100%;
  }

  .front .background {
    display: flex;
    /* height: 65vh; */
  }
}

@media (max-width:833px) {
  .front .flexitem {
    flex: 0 1 50%;
    /* border: 1px #206bfb solid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

  }

  .front .box1 {
    padding: 5%;
  }

  .front .box2 {
    opacity: 0;
  }



  .front .content {
    width: 100%;
  }
}


.front .box1 {
  padding: 5%;
}


.front img {
  height: auto;
}

.front .background {
  min-height: 40vh;

  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  /* border: 1px #206bfb solid; */
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); */

}



.front .content {
  /* padding: 10%; */
  padding: 5%;
  /* border: 1px #206bfb solid; */
}

.front .box1 {

  background-color: white;
  /* z-index: 2; */
  /* border: 1px #206bfb solid; */
}


.front .box2 {

  background-image: url("../assets/img/forest.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}


/*--------------------------------------------------------------
# service
--------------------------------------------------------------*/
/* bigger than 1066 */
@media (max-width:833px) {
  .service {
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);
  }
}


@media (min-width:834px) {
  .service {
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);

  }
}

@media (min-width:1066px) {
  .service {
    height: auto;
    clip-path: polygon(0 3%, 50% 0, 100% 3%, 100% 97%, 50% 100%, 0 97%);
  }
}


.shadow {
  filter: drop-shadow(-1px 0px 5px rgba(50, 50, 0, 0.5));
  height: auto;
  position: relative;
  bottom: 35px;

  /* bottom: 10px; */

}


.service {

  width: 100%;
  padding-bottom: 5%;
  min-height: 70vh;
  background-color: white;
}


.service .flexparent {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.service .flexitem {
  flex: 0 1 300px;
  height: 400px;
  /*  No stretching: */
  margin: 20px;
  background-color: #49654E;
  border: 1px #ccc solid;
}

.service .box1 .img1 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../assets/img/service1.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .text-img {
  color: white;
}

.service .box2 .img2 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../assets/img/service2.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box3 .img3 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../assets/img/service3.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box4 .img4 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../assets/img/service4.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box5 .img5 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../assets/img/service5.jpg");
  background-size: cover;
  background-position: 40%;
}

.service .box6 .img6 {
  margin-bottom: 5px;
  width: 100%;
  height: 90%;
  background-image: url("../assets/img/service6.jpg");
  background-size: cover;
  background-position: 40%;
}

/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about {
  position: relative;
  bottom: 35px;
  display: grid;
  place-items: center;
  padding: 45px;
}

.about .btn {
  background-color: #3D4E4A;
  color: white;
}

.about article {
  background-color: white;
  /* min-height: 20vh; */
  height: auto;
  padding-top: 1%;
}

.about .iconify {
  font-size: 35px;
  margin: 10px;
}

/*--------------------------------------------------------------
# contact
--------------------------------------------------------------*/
@media (max-width:833px) {
  .contact {
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);
  }
}


@media (min-width:834px) {
  .contact {
    height: auto;
    clip-path: polygon(0 1%, 50% 0, 100% 1%, 100% 99%, 50% 100%, 0 99%);

  }
}

@media (min-width:1066px) {
  .contact {
    height: auto;
    clip-path: polygon(0 3%, 50% 0, 100% 3%, 100% 97%, 50% 100%, 0 97%);
  }
}


.shadow {
  filter: drop-shadow(-1px 0px 5px rgba(50, 50, 0, 0.5));

}

.contact {


  z-index: 80;
  min-height: 70vh;
  background-color: white;
}

.contact .flexparent {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.contact .flexitem {
  padding: 5px;
  /* border: 1px #ccc solid; */
  margin: 20px;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  /* position: relative;
  bottom: 30px; */
  /* height: 10vh; */

}

.footer .flexparent {
  padding: 0px 30px 30px 30px;
  display: flex;
  justify-content: center;
  font-size: 30px
}